.list-filters {
  text-align: right;
  margin-bottom: 1em;
}

select.item-filter {
  display: inline-block;
  margin-left: 1em;
}

table.fixed {
  table-layout: fixed;
}

.screen-reader-text {
  display: none;
}

table.item-list {
  background: #fff;
  border: 1px solid #e5e5e5;
  border-spacing: 0;
  box-shadow: 0 1px 1px rgba(0,0,0,.04);
  clear: both;
  margin: 0;
  text-align: left;
  width: 100%;
}

table.item-list * {
  word-wrap: break-word;
}

.item-list thead td,
.item-list thead th {
  border-bottom: 1px solid #e1e1e1;
}

.item-list td.check-column {
  border-bottom: 1px solid #e1e1e1;
  color: #32373c;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3em;
  padding: 4px 0 0 3px;
  text-align: left;
  width: 2.2em;
  vertical-align: middle;
}

.alternate,
.striped>tbody>:nth-child(odd),
ul.striped>:nth-child(odd) {
  background-color: #f9f9f9;
}

.item-list td, .item-list th {
  color: #555;
}

.item-list td, .item-list td ol, .item-list td ul {
  font-size: 13px;
  line-height: 1.5em;
}

.item-list td {
  vertical-align: top;
}

.item-list td, .item-list th {
  padding: 8px 10px;
}

.item-list th {
  font-weight: 400;
  color: #FDB913;
}
